body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:870px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:198px;
  width:100px;
  height:60px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:302px;
  width:100px;
  height:60px;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:826px;
  width:100px;
  height:60px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:1255px;
  width:100px;
  height:60px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:258px;
  width:0px;
  height:0px;
}
#u60_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u60_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u60_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:43px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:840px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  word-wrap:break-word;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:362px;
  width:0px;
  height:0px;
}
#u62_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:468px;
}
#u62_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u62_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:451px;
  width:18px;
  height:19px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:224px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:886px;
  width:0px;
  height:0px;
}
#u63_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:373px;
}
#u63_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u63_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:356px;
  width:18px;
  height:19px;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:176px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:133px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:387px;
  width:100px;
  height:60px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:475px;
  width:100px;
  height:60px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:561px;
  width:100px;
  height:60px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:645px;
  width:100px;
  height:60px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:740px;
  width:100px;
  height:60px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:133px;
  height:10px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:769px;
  width:128px;
  height:5px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:133px;
  height:10px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:673px;
  width:128px;
  height:5px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:133px;
  height:10px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:597px;
  width:128px;
  height:5px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:133px;
  height:10px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:501px;
  width:128px;
  height:5px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:133px;
  height:10px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:415px;
  width:128px;
  height:5px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:938px;
  width:100px;
  height:60px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:1059px;
  width:100px;
  height:60px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:133px;
  height:10px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:966px;
  width:128px;
  height:5px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:133px;
  height:10px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:1087px;
  width:128px;
  height:5px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
